streamlit==1.54.0
requests==2.32.5
python-dotenv==1.2.1
pillow==12.1.1
pytesseract==0.3.13

langchain>=0.3.36
langchain-groq>=0.1.0
langchain-core>=0.3.36

mcp>=1.26.0
langchain-mcp-adapters>=0.2.0
typing-extensions